
body {
    background-image: url('/Images/achtergrond.png'); 
    background-size: cover;                    
    background-repeat: no-repeat;       
}



h1, p {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: aliceblue;
}


h1 {
    font-size: 70px;
    margin-bottom: 10px;
}

p {
    font-size: 40px;
    margin-top: 0px;
}

button {
    border: 2px solid aliceblue;
    width: 900px;
    height: 100px;
    background-color: transparent;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: aliceblue;
    font-size: 40px;
}

