
body {
    background-image: url('/Images/achtergrond.png'); 
    background-size: cover;                    
    background-repeat: no-repeat;       
}



h1, p {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: aliceblue;
}


h1 {
    font-size: 70px;
    margin-bottom: 10px;
    padding-left: 50px;
}

p {
    font-size: 40px;
    margin-top: 0px;
    padding-left: 50px;
}

button {
    border: 2px solid aliceblue;
    width: 850px;
    height: 200px;
    background-color: transparent;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: aliceblue;
    font-size: 80px;
    margin-left: 50px;

}
#astronaut {
    position: absolute;
    top: 25%; 
    right: 150px; 
    max-width: 900px;
    height: 700px;
}

