
body {
    background-image: url(/images/achtergrond.png);
    background-size: cover;                    
    background-repeat: no-repeat;       
}

h1, p {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: aliceblue;
}


h1 {
    font-size: 70px;
    margin-bottom: 10px;
    padding-left: 50px;
}

p {
    font-size: 39px;
    margin-top: 0px;
    padding-left: 50px;
}