h1, p {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: aliceblue;
}


h1 {
    font-size: 70px;
    margin-bottom: 10px;
    padding-left: 50px;
}

p {
    font-size: 39px;
    margin-top: 0px;
    padding-left: 50px;
}

body {
    background-image: url('../../../images/achtergrond.png');
    background-size: cover;                    
    background-repeat: no-repeat;    
    overflow: hidden;
}
 
#titel{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 90px;
    color: aliceblue;
}
#ondertitel{
    font-size: 40px;
    color: aliceblue;
    margin-top: 0px;
}

#knop{
    background-color: transparent;
    height: 100px;
    width: 200px;
    color: aliceblue;
    border: 2px solid aliceblue;
    font-size: 50px;
    position: absolute;
    right: 50px;
    top: 50px;
    text-decoration: none;
}
.knop1{
    background-color: transparent;
    height: 170px;
    width: 1000px;
    color: aliceblue;
    border: 2px solid aliceblue;
    font-size: 50px;
}
#j{
    text-decoration: none;
    color: aliceblue;
}

#logo{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-right: 400px;
    width: 100%;
    max-width: 800px;
    margin-left: auto;
    margin-top: -700px;
    margin-right: 100px;
    align-items: start;
    justify-content: start;
    height: auto;
}